# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

##################################################################
# This file contains the internal classpaths required to run PXF
# with tarball based installation of hadoop clients.
# Edit to set the base paths according to your specific package layout
# Adding new resources should be done using pxf-public.classpath file.
##################################################################

# PXF Configuration
PXF_HOME/conf

# PXF Libraries
PXF_HOME/lib/pxf-hbase.jar
PXF_HOME/lib/pxf-hdfs.jar
PXF_HOME/lib/pxf-hive.jar
PXF_HOME/lib/pxf-json.jar
PXF_HOME/lib/pxf-jdbc.jar

# Hadoop/Hive/HBase configurations
HADOOP_ROOT/hadoop/etc/hadoop
HADOOP_ROOT/hive/conf
HADOOP_ROOT/hbase/conf

# Hadoop Libraries
HADOOP_ROOT/hadoop/share/hadoop/common/hadoop-common-*[0-9].jar
HADOOP_ROOT/hadoop/share/hadoop/common/lib/hadoop-auth-*[0-9].jar
HADOOP_ROOT/hadoop/share/hadoop/common/lib/asm-*[0-9].jar
HADOOP_ROOT/hadoop/share/hadoop/common/lib/avro-*[0-9].jar
HADOOP_ROOT/hadoop/share/hadoop/common/lib/commons-cli-*[0-9].jar
HADOOP_ROOT/hadoop/share/hadoop/common/lib/commons-codec-*[0-9].jar
HADOOP_ROOT/hadoop/share/hadoop/common/lib/commons-collections-*[0-9].jar
HADOOP_ROOT/hadoop/share/hadoop/common/lib/commons-configuration-*[0-9].jar
HADOOP_ROOT/hadoop/share/hadoop/common/lib/commons-io-*[0-9].jar
HADOOP_ROOT/hadoop/share/hadoop/common/lib/commons-lang-*[0-9].jar
HADOOP_ROOT/hadoop/share/hadoop/common/lib/commons-logging-*[0-9].jar
HADOOP_ROOT/hadoop/share/hadoop/common/lib/guava-*[0-9].jar
HADOOP_ROOT/hadoop/share/hadoop/common/lib/htrace-core*.jar
HADOOP_ROOT/hadoop/share/hadoop/common/lib/jetty-*.jar
HADOOP_ROOT/hadoop/share/hadoop/common/lib/jersey-core-*[0-9].jar
HADOOP_ROOT/hadoop/share/hadoop/common/lib/jersey-server-*[0-9].jar
HADOOP_ROOT/hadoop/share/hadoop/common/lib/log4j-*[0-9].jar
HADOOP_ROOT/hadoop/share/hadoop/common/lib/protobuf-java-*[0-9].jar
HADOOP_ROOT/hadoop/share/hadoop/common/lib/slf4j-api-*[0-9].jar
HADOOP_ROOT/hadoop/share/hadoop/common/lib/snappy-java-*[0-9].jar
HADOOP_ROOT/hadoop/share/hadoop/hdfs/hadoop-hdfs-*[0-9].jar
HADOOP_ROOT/hadoop/share/hadoop/hdfs/lib/jackson-core-asl-*[0-9].jar
HADOOP_ROOT/hadoop/share/hadoop/hdfs/lib/jackson-mapper-asl-*[0-9].jar
HADOOP_ROOT/hadoop/share/hadoop/mapreduce/hadoop-mapreduce-client-core-*[0-9].jar
# CDH only Library
HADOOP_ROOT/hadoop/share/hadoop/mapreduce/hadoop-mapreduce-client-common-*[0-9].jar

# Hive Libraries
HADOOP_ROOT/hive/lib/antlr-runtime*.jar
HADOOP_ROOT/hive/lib/datanucleus-api-jdo*.jar
HADOOP_ROOT/hive/lib/datanucleus-core*.jar
HADOOP_ROOT/hive/lib/hive-exec*.jar
HADOOP_ROOT/hive/lib/hive-metastore*.jar
HADOOP_ROOT/hive/lib/jdo-api*.jar
HADOOP_ROOT/hive/lib/libfb303*.jar

# HBase Libraries
HADOOP_ROOT/hbase/lib/hbase-client*.jar
HADOOP_ROOT/hbase/lib/hbase-common*.jar
HADOOP_ROOT/hbase/lib/hbase-protocol*.jar
HADOOP_ROOT/hbase/lib/htrace-core*.jar
HADOOP_ROOT/hbase/lib/netty*.jar
HADOOP_ROOT/hbase/lib/zookeeper*.jar
HADOOP_ROOT/hbase/lib/metrics-core*.jar
