[submodule "depends/thirdparty/gp-xerces"]
	path = depends/thirdparty/gp-xerces
	url = https://github.com/greenplum-db/gp-xerces.git
[submodule "depends/thirdparty/gpos"]
	path = depends/thirdparty/gpos
	url = https://github.com/greenplum-db/gpos.git
[submodule "depends/thirdparty/gporca"]
	path = depends/thirdparty/gporca
	url = https://github.com/greenplum-db/gporca.git
[submodule "src/pl/plr"]
	path = src/pl/plr
	url = https://github.com/jconway/plr.git
[submodule "depends/thirdparty/postgres"]
	path = depends/thirdparty/postgres
	url = https://github.com/postgres/postgres.git
