<?xml version="1.0"?>
<web-app version="3.0"
     	xmlns="http://java.sun.com/xml/ns/javaee"
     	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<servlet>
    	<servlet-name>PXF REST Service</servlet-name>
    	<servlet-class>
      	com.sun.jersey.spi.container.servlet.ServletContainer
    	</servlet-class>
    	<init-param>
        	<param-name>com.sun.jersey.config.property.packages</param-name>
        	<param-value>com.pivotal.pxf.service.rest</param-value>
    	</init-param>
    	<init-param>
        	<param-name>jersey.config.server.provider.scanning.recursive</param-name>
        	<param-value>true</param-value>
    	</init-param>
    	<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
    	<servlet-name>PXF REST Service</servlet-name>
    	<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>com.pivotal.pxf.service.rest.ServletLifecycleListener</listener-class>
	</listener>
</web-app>
