/*
Stylesheet for use with Docutils.

Customized for PyGreSQL docs.
*/

@import url(default.css);

body {
	margin: 8pt;
	padding: 8pt;
	background-color: #f8f8ff;
	color: #000008;
	text-align: justify;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 11pt; }

a {
	text-decoration: none; }

a:hover {
	text-decoration: underline; }

.title, .subtitle {
	color: #003; }

.topic-title {
	color: #006;
	font-size: 14pt; }

h1, h2, h3, h4 {
	color: #006; }

h1 {
	padding-top: 20pt;
	font-size: 17pt; }

div#pygresql-changelog div.section h1 {
	font-size: 12pt;
}

h1.title {
	font-size: 20pt;
}

h2 {
	font-size: 14pt; }

h2.subtitle {
	font-size: 16pt;
}

h3 {
	font-size: 13pt; }

h4 {
	font-size: 12pt; }

a.toc-backref {
	color: #006; }

ul.simple li {
	margin-top: 4pt; }

ul.simple ul li {
	margin-top: 2pt; }

div.contents ul {
	list-style-type: none; }

div.contents ul li {
	margin-top: 4pt;
	font-size: 12pt; }

div.contents ul ul li {
	margin-top: 2pt;
	font-size: 11pt; }

cite {
	font-style: normal;
	font-family: monospace;
	font-weight: bold; }

table.field-list th.field-name {
	font-style: normal;
	font-family: monospace;
	font-weight: bold; }

tt.literal, pre.literal-block {
	font-style: normal;
	font-family: monospace;
	font-weight: bold;
	background-color: #fff; }

tt.literal {
	padding-left: 2pt;
	padding-right: 2pt; }

pre.literal-block {
	padding: 4pt;
	border: 1px dotted #ccc; }

table.docutils {
	border-spacing: 0px;
	border-collapse: collapse; }

table.docutils td {
	margin: 0px;
	padding: 2pt; }
