partindex_test.sql
errortbl.sql
aggregates.sql
caql.sql
caqltrack.sql
catversion.sql
custom_format.sql
goh_copy.sql
goh_create_function_1.sql
goh_prepare.sql
resource_queue_function.sql
table_functions.sql
tidycat2.sql
restore_restoredb.sql
sreh.sql
tablespace.sql
upg2.sql
exttab1.sql
gptokencheck.sql
loadcat33.sql
loadcat34.sql
misc.sql
bkuprestore_advance.sql
bkuprestore_cleanup.sql
constraints.sql
copy.sql
create_function_1.sql
create_function_2.sql
aocs.sql
appendonly.sql
bkup_bkupdb.sql
ereport.sql
orafunk.sql
tidycat.sql
filespace.sql
gpcheckmirrorseg.sql
upgrade.sql
auth_constraint.sql
caqlinmem.sql
hcatalog_lookup.sql
json_load.sql
external_oid.sql
orca_udfs.sql
